@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Abel|PT+Sans+Narrow|Slabo+27px);

*{
  margin: 0;
  padding: 0:
}

.clearfix:after{
  visibility: hidden;
  display: 0;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

header{
  margin: 0px; 
  padding: 10px 10px 10px 10px;
  background: green;
  font-fmaily: 'Lora';
}

nav{
  display: inline;
/*  align: center;*/
  float: right;
  background: white;
/*  width: 100%;
*/  padding-top: 3%;
}

main{
  marin: 10px;
  padding: 10px;
 /* background-position: center;*/
  background-color: white;
}

#hero{
background-image: url(http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2012/03/16/46759192-CNBC-slideshow-coffeehouses-Four-Barrel.jpg);
padding: 200px;
position: relative;
width: 80%;
height: relative;
background-repeat: no-repeat;
margin-left: 15%;
margin-right: -15%;
margin-top: 10%;
margin-bottom: 2%;
  
  ;
/*border: 3px solid grey;*/

}

li{
  display: inline;
  padding: 10px;
}

a:hover{
  color: brown;
}

li a{
  text-decoration: none;
  color: black;
}

h1{
  font-family: 'Lora';
  text-align: center;
  font-size: 2.4em; 
  margin: 1em 1em 1em 6em;
}

h2{
  font-size: 1.3em;
  line-height: 2.2em;
}

p{
  font-size: .9em;
  line-height: 1.2em;
}

#footer{
/*  background: pink;*/
  font-family: 'PT Sans Narrow';
  display: inline-block;
}

li{
  float: left;
  display: inline;
  padding-left: 40px;
}

#last{
  background: white;
}

hr{
  border: .08em solid black;
  width: 90%; 
  margin: auto;
}
